AplicacionDeServicios/EmpleadoConsulta/Connected Services/ConsultaEmpleado/ServicioConsulta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.DTO" />
  <xs:complexType name="ResponseEmpleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.DTO" minOccurs="0" name="Empleados" nillable="true" type="q1:ArrayOfEmpleadoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseEmpleado" nillable="true" type="tns:ResponseEmpleado" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
</xs:schema>