AplicacionDeServicios/EmpleadoConsulta/Connected Services/ConsultaEmpleado/ServicioConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioConsulta" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" />
      <xsd:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioConsulta_Todos_InputMessage">
    <wsdl:part name="parameters" element="tns:Todos" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_Todos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IServicioConsulta_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioConsulta">
    <wsdl:operation name="Todos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/Todos" message="tns:IServicioConsulta_Todos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/TodosResponse" message="tns:IServicioConsulta_Todos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioConsulta/Buscar" message="tns:IServicioConsulta_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioConsulta/BuscarResponse" message="tns:IServicioConsulta_Buscar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioConsulta" type="tns:IServicioConsulta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Todos">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/Todos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IServicioConsulta/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioConsulta">
    <wsdl:port name="BasicHttpBinding_IServicioConsulta" binding="tns:BasicHttpBinding_IServicioConsulta">
      <soap:address location="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>