AplicacionDeServicios/EmpleadoConsulta/Connected Services/ConsultaEmpleado/ServicioConsulta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AplicacionDeServicios/Servicio/ServicioConsulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" />
  <xs:element name="Todos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" minOccurs="0" name="TodosResult" nillable="true" type="q1:ResponseEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="palabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AplicacionDeServicios.Response" minOccurs="0" name="BuscarResult" nillable="true" type="q2:ResponseEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>